



@section scripts {
      <script >
          $("#gts").change(function () {
              alert("only 10");
              //$("#gName").text((this.val()));
          });
          </script>
    }

<h2>Add a Guest</h2>

                <div class="form-horizontal" role="form">
                    @using (Ajax.BeginForm("AddGuest", "Home", new { id = @ViewBag.LegId }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "successMessage(data);" },
                            new { @class = "form-horizontal", @role = "form" }))
                    {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                    
                          <div class="form-group">
                            <label  class="col-sm-4 control-label">Guest name</label>
                            <div class="col-sm-8">
                              @Html.DropDownList("gts", (SelectList)(ViewBag.allGuests), new { @class = "form-control" })
                            </div>
                          </div>
                            
                          <div class="form-group" style="margin-top:15px">
                            <div class="col-sm-offset-2 col-sm-8">
                              <button type="submit" class="btn btn-primary active" id="subButton" >Add this Guest</button>
                            </div>
                          </div>                   
                    }
                </div>  