@{
    ViewBag.Title = "_Create";
}

<h3>New Trip</h3>

@using (Ajax.BeginForm("Create", "Home", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "legAddedOK(data);", OnFailure = "legAddedNotOK();" },
    new { @class = "form-horizontal", @role = "form" }))
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <div class="form-horizontal" role="form">
              <div class="form-group">
                <label for="nme" class="col-sm-4 control-label">Trip Name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="nme" name="TripName" placeholder="Enter name">
                </div>
              </div>
              <div class="form-group">
                <label for="from" class="col-sm-4 control-label">Going from</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="from" name="StartLocation" placeholder="From">
                </div>
              </div>
             <div class="form-group">
                <label for="going" class="col-sm-4 control-label">Going to</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="going" name="FinishLocation" placeholder="To">
                </div>
              </div>
              <div class="form-group">
                <label for="sd" class="col-sm-4 control-label">Start date</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="sd" name="StartDate" placeholder="start date">
                </div>
              </div>
            <div class="form-group">
                <label for="fd" class="col-sm-4 control-label">Finish date</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="fd" name="FinishDate" placeholder="finish date">
                </div>
              </div>
            <div class="form-group">
                <label for="mg" class="col-sm-4 control-label">Minnimum guests</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="mg" name="MinGuests" placeholder="Minnimum guests">
                </div>
              </div>

              <button type="submit" class="btn btn-success active" >Add Trip</button>
        </div>
}
