
.DivPane {
   
    border: 2px solid red;
    background: beige;
    margin-left: 45%;
    height:100px;
    width:100px;
    position:absolute;
    opacity:0;
}
.DivSplitRight {
    float:right; 
    width:45%;
}
.DivSplitLeft {
    width:45%;
}